<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.clayreimann.alfred.fib</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>9EB3A352-0687-434B-A101-2BB8CFD6B290</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E72159F-2973-4DE2-B17B-239FC57ED092</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Clay Reimann</string>
	<key>description</key>
	<string>Calculate fibonacci numbers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fibonacci Numbers</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fib</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>try:
	query = int("{query}")
except Exception as e:
	print '''
&lt;items&gt;
  &lt;item uid="error" valid="no"&gt;
    &lt;title&gt;Unknown arg "{}"&lt;/title&gt;
    &lt;subtitle&gt;{}&lt;/subtitle&gt;
  &lt;/item&gt;
&lt;/items&gt;
'''.format("{query}", e)

partials = {}

def fib(n):
	if n == 0: return 1
	if n == 1: return 1
	if n in partials: return partials[n]
	val = fib(n-1) + fib(n-2)
	if not n in partials: partials[n] = val
	return val

xml = '&lt;items&gt;'
val = fib(query)
xml += '''&lt;item arg="{}" valid="yes"&gt;
  &lt;title&gt;{}&lt;/title&gt;
  &lt;subtitle&gt;fib({})&lt;/subtitle&gt;
&lt;/item&gt;'''.format(val, val, query)
for i in range(query - 2, query + 3):
	if (i &lt; 1) or i == query: continue
	val = fib(i)
	xml += '''&lt;item arg="{}" valid="yes"&gt;
    &lt;title&gt;{}&lt;/title&gt;
    &lt;subtitle&gt;fib({})&lt;/subtitle&gt;
  &lt;/item&gt;'''.format(val, val, i)
xml += '&lt;/items&gt;'

print xml</string>
				<key>title</key>
				<string>Enter the desired number in the squence</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9EB3A352-0687-434B-A101-2BB8CFD6B290</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6E72159F-2973-4DE2-B17B-239FC57ED092</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6E72159F-2973-4DE2-B17B-239FC57ED092</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>9EB3A352-0687-434B-A101-2BB8CFD6B290</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://clayreimann.me</string>
</dict>
</plist>
